<section>
  <div class="sectionTitle">
    <h1>Work Experience</h1>
  </div>

  <div class="sectionContent">
    {{#jobs}}
    <article{{#class}} class="{{class}}"{{/class}}>
      <h2>{{> templates/partials/job-title}}</h2>
      <p class="subDetails">{{> templates/partials/duration}} [{{> templates/partials/location}}]</p>
      <p>
        {{#summary}}
        {{> templates/partials/job-summary}}
        {{/summary}}
      </p>
    </article>
    {{/jobs}}
  </div>
  <div class="clear"></div>
</section>