<!DOCTYPE html>
<html>
<head>
<title>{{name.first}}'s Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="A Curriculum Vitae for {{#name}}{{> templates/partials/name}}{{/name}}."/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="img/headshot.jpg" alt="{{#name}}{{> templates/partials/name}}{{/name}}" />
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">{{#name}}{{> templates/partials/name}}{{/name}}</h1>
			<h2 class="quickFade delayThree">{{#jobs.0}}{{> templates/partials/job-title}}{{/jobs.0}}</h2>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:{{email}}" target="_blank">{{email}}</a></li>
				<li>w: <a href="{{blog}}">{{blog}}</a></li>
				<li>m: {{mobile-number}}</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
					{{#summary}}
					{{#intro}}
					<p>{{.}}</p>
					{{/intro}}

					{{#experience}}
					{{> templates/partials/list-items}}
					{{/experience}}

 					{{#specialties}}
					{{> templates/partials/list-items}}
					{{/specialties}}
					{{/summary}}
				</div>
			</article>
			<div class="clear"></div>
		</section>

		{{> templates/partials/work}}
		{{> templates/partials/projects}}
		{{> templates/partials/education}}
	</div>
</div>
</body>
</html>
